body {
    background-color: rgb(56, 60, 110);
    font-family: monospace;
}

header h1{
    float: left;
    color:antiquewhite;
    font-weight: 700;
    padding:15px;
    font-size: 300%;
}
header p{
    float: right;
    color:antiquewhite;
    font-weight: 700;
    padding:30px;
    font-size: 200%;
}
header a{
    color:antiquewhite;
}
#hero-image{
    width: 100%;
    height: 1000px;
    background: url(../images/hero-image1.webp) no-repeat center center;
    background-size: cover;
}

#game-section {
    width: 50%;
    height: 600px;
    left: 400px;
    bottom: 100px;
    
    padding: 30px;
    background-color: rgb(250, 235, 215, .8);
    border-radius: 10%;
    position:absolute;
}

#game-section h2{
    font-size: 250%;
    word-spacing: 15px;
    text-align: center;
    margin-top: 5px;
}

.btn-choice {
    padding: 15px;
    border-radius: 10%;
    margin-left: 80px;
    margin-bottom: 30px;
    width:100px;
    background-color: rgb(28, 42, 54);
    color:antiquewhite;
    float: left;
}

#game-section  button:hover{
    background-color: #46466b;
}
#reset{
    padding: 15px;
    border-radius: 10%;
    margin-left: 80px;
    margin-bottom: 30px;
    width:100px;
    background-color: rgb(28, 42, 54);
    color:antiquewhite;
    left: 5%;
    bottom: 0%;
    position: absolute;
}   

.fifteen-goes{
    font-size: 200%;
    float: right;
    bottom: 5%;
    right: 10%;
    position: absolute;
}

.player-area {
   float: left;
   width: 45%;
   text-align: center;
   font-size: 150%;
}
.circle{
    border-radius: 50%;
}
#player-image{
    width: 60%;
}
.computer-area {
    float: right;
    width: 45%;
    text-align: center;
    font-size: 150%;
}

#computer-image{
    width: 60%;
}
#result-display {
    left: 45%;
    bottom: 50%;
    font-size: 200%;
    font-weight: 700;
    position: absolute;
}

footer{
    height: 25px;
    text-align: center;
    font-size: 100%;
    color:antiquewhite;
    margin: 0 auto;
    position: fixed;
}

#rules-section{
    background-color: #47598a;
    height: 1500px;
    width: 30%;

    border:2px solid rgb(28, 42, 54);
    box-shadow: 10px 10px 8px #26312c;

    margin: 100px auto 10px;
    padding: 30px;

    text-align: center;
    color:antiquewhite;
    font-size: 150%;
    line-height: 30px;

}

#rules-section h2{
    color:#191f1c;
}

#home-link {
    color:antiquewhite;
}
#home-link:hover{
    background-color: rgb(38, 49, 44, .8);
}

@media screen and (max-width: 1800px) {

    #hero-image{
        height: 1100px;
    }
    #game-section{
        top: 30%;
        width: 60%;
        left: 350px;
    }
    
    #game-section button{
        margin-left: 40px;
    }
}

@media screen and (max-width: 1350px) {
    #game-section {
        left: 200px;
    }
}

@media screen and (max-width: 1000px){
    #game-section{
        width: 90%;
        left: 20px;
    }
    #rules-section{
        width: 60%;
        height: 1600px;
    }
}

@media screen and (max-width: 800px){
    header h3{
        margin: 0;
    }
    header p{
        margin: 0;
    }
    #hero-image{
        background: none;
    }
    #game-section button{
        margin-left: 90px;
    }
    #game-section{
    background-color: #47598a;
    border:2px solid rgb(28, 42, 54);
    box-shadow: 10px 10px 8px #26312c;
    color:antiquewhite;
    }  
    #game-section h2{
        font-size: 200%;
    }
    .fifteen-goes{
        font-size: 150%;
    }
    #rules-section{
        width: 100%;
    }
}
@media screen and (max-width: 650px){
    #game-section button{
        margin-left: 150px;
    }
    #game-section{
        width: 100%;
        margin: 15px;
        padding: 0;
        left: 0;
    }
    #game-section button{
        margin-left: 30px;
    }
    #result-display{
        font-size: 100%;
    }
}
    
@media screen and (max-width: 400px) {
    #game-section button{
        float: none;
        margin-left: 0;
        width: 70px;
        padding: 5px;
        bottom: 0;
    }
    .fifteen-goes{
        font-size: 120%;
    }
@media screen and (max-width: 350px){
    header h1{
        font-size: 200%;
    }
}
}